<html>
  <head>
    <title>Ovo je title</title>
  </head>
  <body>
    <h1>This is a heading</h1>
    <form method="POST" action="/new">
      <input type="text" placeholder="Author name" name="messageAuthor" />
      <input name="messageText" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
